@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* 
    Css para o nav da página
*/
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    box-shadow:0px 3px 0px 0px;
    width: 100%;
    margin: 0 auto;
    align-self: center;
    height: 120px;
    background-color: #001844;
    display: flex;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style: none;
    display: inline-flex;
    margin: 10px;
    align-items: center;
}

li {
    width: 100%;
    margin: 10%;
    display: block;
    font-size: medium;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.entrar {
    width: auto;
    display: flex;
    width: auto;
    align-self: center;
    margin: 0 auto;
}

h1 {
    font-size: xx-large;
    color: white;
    align-self: center;
    margin: 0 auto;
}

li button {
    float: right;
    padding: 10px;
    width: 100%;
    border: 1px solid;
    float: unset;
    width: 100%;
    background: none;
    color: white;
    border-radius: 7px;
    margin: 0 auto;
}

p {
    line-height: 25px;
}

/* ---------------------------------------------------------- */
/* Recursos usados para o css do main */
main div {
    margin-top: 10px;
    display: flex;
    

}

main div img {
    width: 56%;
    margin: 0 auto;
    box-shadow: 3px 1px 11px 0px;
}

.texto_sobre {
    margin: 10px auto;
    width: 36%;
    display: initial;
    font-size: 18px;
}

h2 {
    font-size: larger;
    font-weight: bolder;
}

.foto_central {
    width: 60%;
    display: grid;
    float: left;
}

.saibamais {
    margin: inherit;
    display: flex;
    float: right;
    margin-top: 30px;
}

.contact {
    display: flex;
    justify-content: center;
}

form div {
    margin: 30px;
    width: 100%;
}

strong {
    align-content: center;
}

div .titulo {
    display: flex;
    color: black;
    font-size: 2em;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

.lista {
    display: flex;
    display: inline-flex;
    margin: 10px auto;
    justify-content: center;
}

.linguagem {
    display: flex;
    margin: 10px auto;
    color: black;
    justify-content: center;
}

.ling {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.redes_sociais {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.projetos {
    width: auto;
}

.projetos {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer span {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/* 
    Responsividade
*/
@media only screen and (max-device-width: 500px) {
    main div{
        flex-direction: column;
    }
    .texto_sobre{
        font-size: medium;
        width: auto;
        margin: 10px;
    }
    .foto_central {
        width:auto;
    }
    .entrar ul{
            width: auto;
            list-style: none;
            display: inline-flex;
            margin: 10px;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
    }
    h1 {
        font-size: xx-large;
        color: white;
        align-self: center;
        margin: 0 auto;
    }
    .lista {
        display: flex;
        margin: 10px auto;
        justify-content: center;
        flex-direction: column;
    }
    ul li a {
        font-size: smaller;
        text-decoration: none;
        color: whitesmoke;
    }
}
/* --------------------------------------------------- */